[Desktop Entry]
Name=Auto Clicker
Comment=Mouse automation tool
Exec=python3 __MAIN_PY__
Icon=io.github.clicker
Type=Application
Categories=Utility;
StartupWMClass=io.github.clicker
StartupNotify=true
